# based on the node gitignore file from github/gitignore
# see: https://github.com/github/gitignore/blob/main/Node.gitignore
# learn more: https://git-scm.com/docs/gitignore

# build
dist

# caches
.cache
.eslintcache
.node_repl_history
.npm
.wrangler
*.tsbuildinfo

# dependencies
node_modules

# environment
.env
.env.*.local
.env.local
.dev.vars

# logs
logs
*.log
*-debug.log*
*-error.log*

# addons
# see: https://nodejs.org/api/addons.html
build/Release

# reports
# see: https://nodejs.org/api/report.html
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# runtime
pids
*.pid
*.seed
*.pid.lock

# miscellaneous
.temp
.DS_Store
*.tgz
