# based on the node gitignore file from github/gitignore
# see: https://github.com/github/gitignore/blob/main/Node.gitignore
# learn more: https://git-scm.com/docs/gitignore

# build
build

# caches
.cache
.eslintcache
.node_repl_history
.npm

# dependencies
node_modules

# environment
.env
.env*.local
.dev.vars

# logs
logs
*.log
*-debug.log*
*-error.log*

# runtime
pids
*.pid
*.seed
*.pid.lock

# miscellaneous
.temp
.DS_Store
*.tgz
*.pem

# addons
# see: https://nodejs.org/api/addons.html
build/Release

# reports
# see: https://nodejs.org/api/report.html
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# next.js
.next
out

# typescript
*.tsbuildinfo
next-env.d.ts